<div align="left" style="background-color: #008080; padding: 20px 10px;">
<h3><b>IDEAS - Institute of Data Engineering, Analytics and Science Foundation</b></h3>
<p>Spring Internship Program 2026</p>
<hr style="width:100%;">
<h3><b>Project Title:</b> Retail Sales Data Analysis</h3>
<h4>Project Notebook</h4>

<blockquote style="border-left: 4px solid #4285F4; padding-left: 15px;">
  <strong>Created by:</strong> Samyabrata Roy<br>
  <strong>Designation:</strong> Associate Software Developer
</blockquote>
<hr style="width:100%;">
</div>

### Question 1: Import Libraries and Load Data (5 Marks)

Import `pandas` as `pd` and `numpy` as `np`. Download the retail sales dataset `retail_sales_dataset.csv` from https://drive.google.com/drive/folders/1TeLp4U4NsXCSgClbF7ODBsaLKpHSWeQr?usp=sharing and load into a DataFrame named `df_sales` and display its first 5 rows.

**Hint:** Use `pd.read_csv()` to load it and the `.head()` method to display the initial rows.

**Expected Output:**
```
   Transaction ID        Date Customer ID Product Category  Quantity  Price per Unit  Total Amount
0               1  2023-11-24     CUST001           Beauty         3              50         150.0
1               2  2023-02-27     CUST002         Clothing         2             500        1000.0
2               3  2023-01-13     CUST003      Electronics         1              30          30.0
3               4  2023-05-21     CUST004         Clothing         1             500         500.0
4               5  2023-05-06     CUST005           Beauty         2              50         100.0
```

In [ ]:
# Write your answer here

### Question 2: Convert Date and Check Data Types (5 Marks)

The 'Date' column is currently an object (string). Convert it to a proper datetime format. Then, print the data types of all columns to confirm the change.

**Hint:** Use `pd.to_datetime(df['Date'])` to perform the conversion. Use the `.dtypes` attribute on the DataFrame to check all data types.

**Expected Output:** A Series listing each column and its data type, where 'Date' is `datetime64[ns]`.

In [ ]:
# Write your answer here

### Question 3: Data Inspection (5 Marks)

Get a quick overview of your DataFrame. Print the shape and then check for the total number of missing (null) values across the entire DataFrame.

**Hint:** Use `df_sales.shape` to get the dimensions and `df_sales.isnull().sum().sum()` to count all missing values.

**Expected Output:** The shape of the DataFrame and the total count of null values.

In [ ]:
# Write your answer here

### Question 4: Monthly Revenue Calculation (10 Marks)

Calculate the total revenue ('Total Amount') for each month. The result should be a new DataFrame or Series indexed by the month. Display the result.

**Hint:** Group the `df_sales` DataFrame by the month of the 'Date' column. You can access the month period using `df_sales['Date'].dt.to_period('M')`. Then, get the sum of 'Total Amount'.

**Expected Output:** A Series with month-year periods as the index and the corresponding total revenue as values.

In [ ]:
# Write your answer here

### Question 5: Weekly Revenue Calculation (10 Marks)

Similar to the last question, now calculate the total revenue ('Total Amount') for each week. Display the head of the resulting Series.

**Hint:** Group the `df_sales` DataFrame by the week of the 'Date' column. You can use `df_sales['Date'].dt.to_period('W')`. Then, get the sum of 'Total Amount' and display the first few results with `.head()`.

**Expected Output:** The first 5 rows of a Series with week periods as the index and total revenue as values.

In [ ]:
# Write your answer here

### Question 6: Best-Selling Product Category (10 Marks)

Determine which 'Product Category' has the highest total revenue. Group the data by 'Product Category', sum the 'Total Amount', and find the category with the maximum sum.

**Hint:** Use `.groupby('Product Category')['Total Amount'].sum()` and then find the maximum value and its index using `.idxmax()` and `.max()`.

**Expected Output:** A printout of the name of the best-selling category and its total revenue.

In [ ]:
# Write your answer here

### Question 7: Top 5 Customers by Spending (10 Marks)

Identify the top 5 customers who have spent the most in total. Group the data by 'Customer ID', sum their 'Total Amount', and display the top 5.

**Hint:** Use `.groupby('Customer ID')['Total Amount'].sum()`, then `.sort_values(ascending=False)`, and finally `.head(5)`.

**Expected Output:** A Series showing the Customer IDs of the top 5 spenders and their total spending.

In [ ]:
# Write your answer here

### Question 8: Average Order Value per Customer (15 Marks)

Calculate the average order value (AOV) for each customer. Group by 'Customer ID' and find the mean of the 'Total Amount'. Display the AOV for the top 5 customers by average spending.

**Hint:** This is very similar to the previous question, but you will use `.mean()` instead of `.sum()`.

**Expected Output:** A Series showing the Customer IDs of the top 5 customers by average order value and their AOV.

In [ ]:
# Write your answer here

### Question 9: Cumulative Revenue Calculation (15 Marks)

Calculate and display the cumulative sum of revenue over time. First, group the data by 'Date' and sum the 'Total Amount'. Then, calculate the cumulative sum on this result. Display the last 5 days of the cumulative revenue series.

**Hint:** First, create a daily revenue series: `daily_revenue = df_sales.groupby('Date')['Total Amount'].sum()`. Then, use the `.cumsum()` method on `daily_revenue`. Use `.tail()` to see the final values.

**Expected Output:** A Series showing the last 5 dates and the cumulative total revenue up to each of those dates.

In [ ]:
# Write your answer here

### Question 10: Pivot Table for Category vs. Month (15 Marks)

Create a pivot table to show the total 'Total Amount' for each 'Product Category' aggregated by month. First, extract the month number into a 'Month' column. Then create the pivot table with 'Month' as the index and 'Product Category' as columns. Display the resulting pivot table.

**Hint:** Create the 'Month' column using `df_sales['Date'].dt.month`. Then, use `df_sales.pivot_table(index='Month', columns='Product Category', values='Total Amount', aggfunc='sum')`.

**Expected Output:** A table with months (1-12) as rows, product categories as columns, and the total sales for each intersection.

In [ ]:
# Write your answer here